.pagination {
    color: #000;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    height: 45px;
    width: 40%;
    margin: 30px auto;
    background-color: #212121;
    @media (max-width: 1200px) {
        width: 60%;
    }

    @media (max-width: 600px) {
        width: 80%;
    }
        li {
            height: 100%;
            width: 100%;
            &:hover {
                background-color: #2c2c2c;
            }
        }
        a {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 400;
        }

        &__next {
            background-image: url("./../../style/next.svg");
            background-size: 15px;
            background-repeat: no-repeat;
            background-position: center;
        }

        &__previous {
            background-image: url("./../../style/previous.svg");
            background-size: 15px;
            background-repeat: no-repeat;
            background-position: center;
        }
   
}

.active {
    a {
        color: #0F9FBF;
        font-weight: 700;
    }
}