.search-list {
    position: relative;
    margin-top: 15px;
    background: #000;
    
    color: #fff;
    z-index: 10;
    &--hidden {
        display: none;
    }

    &__item {
        border-bottom: 1px solid #151515;
        &--active {
            background-color: #3d3d3d;
        }
        &:hover {
            background-color: #494949;
        }

        
    }

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 17px;


        img {
            width: 40px;
        }
    }

    &__title {
        width: 30%;
        text-align: left;
        font-size: 17px;

        span {
            font-size: 15px;
        }
    }
}