.search {
  grid-area: in;
  position: relative;
  height: 50px;
  z-index: 20;
  grid-area: in;
  @media (max-width: 1000px) {
    height: auto;
    justify-self: center;
  }

  &__container {
    text-align: center;

    @media (max-width: 1000px) {
      display: block;
      height: 100%;
      width: 100%;
      position: fixed;
      z-index: 15;
      top: 0;
      left: 0;
      background-color: #000;

      &--hidden {
        display: none;
      }
    }
  }

  &__input {
    box-sizing: border-box;
    outline: none;
    border: 0;
    padding: 10px;
    padding-left: 40px;
    width: 100%;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    background: transparent;
    border-bottom: 1px solid #0F9FBF;

    @media (max-width: 1000px) {
      margin-top: 150px;
      width: 80%;

    }

  }
 

  &__btn {
    width: 35px;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 100;
    
    @media (max-width: 1000px) {
      top: 155px;
      right: 12vw;
    }
  }

  &__toggle {
    width: 37px;
    position: relative;
    z-index: 100;
    &--hidden {
      display: none;
    }
    @media (max-width: 1000px) {
      display: block;
    }
  }

  &__open {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  &__close {
    position: absolute;
  }
}