.search {
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  background-color: #000;
  grid-area: in;

  &--hidden {
    display: none;
  }

  &__container {
    width: 80%;
    text-align: center;
    margin: 100px auto;
  }

  &__input {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background: #323232;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 23px;
  }

  &__open {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  &__close {
    position: absolute;
  }
}