.cast-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 30px;
    position: relative;
    z-index: 10;
    text-align: center;

    &__desc {
        display: flex;
        flex-direction: column;
        color: #fff;
    }

    &__text {
        font-size: 15px;
        margin-top: 5px;
    }
}