.search {
    grid-area: in;
    position: relative;
    z-index: 20;
    grid-area: in;
}

.container {
    position: absolute;
    width: 100%;
    background: #212121;
    z-index: 10;
}

.hidden {
    display: none;
}

.btn {
    width: 30px;
    position: absolute;
    right: 8px;
    top: 13px;
    outline: none;
}