.filter {
    position: relative;
    width: 85%;
    margin: 0 auto;
    padding: 25px;
    display: grid;
    grid-template-areas: "sr sr sr sr gl" "ml ml ml ml gl";
    grid-gap: 25px;
    

    
    
    
    &__container {
        display: block;
        &--sr {
            grid-area: sr;
        }
        &--gl {
            grid-area: gl;
        }
        &--ml {
            grid-area: ml;
        }
    }
}