.sort {
    text-align: right;
    &__items {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        grid-area: st;
    }

    &__header {
        background-color: #211D26;
        padding: 5px 10px;
    }

    &__title {
        font-size: 17px;
        font-weight: 600;
    }

    &__movies {
        width: 70%;
    }
}



.sort-btn {
    position: relative;
    cursor: pointer;
    padding: 10px 35px;
    border: none;
    font-size: 15px;

    

    &--desc:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 5px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 13px solid #0F9FBF;
    }

    &--asc:after {
        content: "";
        position: absolute;
        top: 15px;
        right: 5px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 13px solid rgb(0, 0, 0);
    }
}