.header {
    position: sticky;
    top: 0;
    z-index: 200;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    background-color: #0B0B0B;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "  lg lg in in in "
        " nv nv nv nv nv ";
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 18px;
    align-items: center;
}

.logo {
    grid-area: lg;
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
    z-index: 50;
}

.logo h1 {
    font-size: 32px;
    font-weight: 600;
    word-break: keep-all;
}

.img {
    width: 40px;
    margin-right: 10px;
}

.title {
    color: #fff;
}

.btns {
    position: relative;
    z-index: 100;
}

.btn {
    width: 20px;
    height: 20px;
    display: none
}

.btn .search {
    background: url("./../style/search.svg");
    background-size: cover;
}

.btn .close {
    background: url("./../style/close.svg");
    background-size: cover;
}

.icon {
    transition: opacity 0.3s ease;
    width: 13px;
}

.icon:hover {
    opacity: .6;
}


@media (max-width: 1000px) {
    .header .container {
        padding-bottom: 25px;
        width: auto;
        margin: 0 25px;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
            "nv . . lg lg lg . . ."
            ". in in in in in in in .";
    }

    .btn {
        display: block;
    }

    @media (max-width: 520px) {
        .header .container {
            grid-template-areas:
                "nv . . lg lg lg . . ."
                "in in in in in in in in in";
            ;
            margin: 0 15px;
        }

    }
}