.nav {
    grid-area: nv;
    font-size: 20px;
    transition: ease .3s;
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    display: inline-block;
    color: #fff;
    font-weight: 400;
    line-height: 60px;
    position: relative;
    transition: color 0.3s ease;
}

.link:hover {
    color: #999;
}

.link::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 4px;
    bottom: 0px;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 235ms cubic-bezier(.4, 0, .2, 1);
}

.toggle {
    display: none;
    z-index: 1;
    position: relative;
}

.toggle span {
    display: none;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;

}

.toggle span:first-child {
    transform-origin: 0% 0%;
}

.toggle span:nth-last-child(1) {
    transform-origin: 0% 100%;
}

.toggleHidden span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

.toggleHidden span:nth-last-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.toggleHidden span:nth-last-child(1) {
    transform: rotate(-45deg) translate(0, -1px);
}


.btn {
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    z-index: 2;
    outline: none;
}

.icon {
    transition: opacity 0.3s ease;
    width: 25px;
}

.icon:hover {
    opacity: .6;
}

.selected::after {
    transform: scaleY(1);
}

item {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .nav {
        justify-self: center;
    }

    .items {
        flex-direction: column;
        align-items: flex-end;
        box-sizing: border-box;
        position: absolute;
        z-index: 100;
        left: 0;
        bottom: -361px;
        width: 250px;
        background-color: #212121;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .link {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding-left: 25px;
    }

    .link::after {
        display: none;
    }

    .toggle {
        display: block;
    }

    .toggle span {
        display: block;
    }

    .selected {
        background-color: #252525;
    }

    .item {
        width: 100%;
        margin-left: 40px;
        display: block;
    }
}

@media (max-width: 768px) {
    .item {
        margin-left: 0;
    }

}


.itemsHidden {
    transform: none;
}