.main-header {
    padding: 30px 4vw;
    background-color: #211D26;

    &__container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
            ". lg . in in in in in ."
            "nv nv nv nv nv nv nv nv nv";
        max-width: 1300px;
        margin: 0 auto;
        align-items: center;

    }

    &__logo {
        grid-area: lg;
        display: flex;
        align-items: center;
    }

    &__img {
        width: 50px;
        margin-right: 10px;
    }
}