.nav {
    grid-area: nv;
    font-size: 20px;
    font-weight: 600;
    @media (max-width: 1000px) {
        justify-self: center;
    }

    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: 1000px) {
            display: flex;
            justify-content: center;
            position: absolute;
            z-index: 200;
            left: 0;
            top: 150px;
            width: 100%;
            background: #000;
            &--hidden {
                display: none;  
            }
            
        }
        @media (max-width: 768px) {
            flex-direction: column;
            padding-bottom: 20px;
            border-bottom: 1px solid rgb(34, 34, 34);
            border-top: 1px solid rgb(34, 34, 34);
        }

        
        
    }
    &__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        letter-spacing: 1px;
        cursor: pointer;
        @media (max-width: 1000px) {
            margin-left: 40px;
            
    }   
    @media (max-width: 768px) {
        margin-left: 0;
        
}   
    }
    

    &__selected {
        color: #0F9FBF;
        font-weight: normal;
    }

    a {
        transition: color .2s ease-out;
        text-transform: uppercase;
        &:hover {
            color: #999;
        }
    }
    &__btn {
        position: relative;
        z-index: 100;
        width: 25px;
        padding: 0;
        display: none;
        @media (max-width: 1000px) {
            display: block;
        }
    }
}