.main-nav {
    grid-area: nv;
    font-size: 20px;
    font-weight: 600;
    
    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item {
        margin-right: 55px;
    }

    &__selected {
        color: #C83564;
    }

    a {
        text-transform: uppercase;
        
        &:hover {
            color: #C83564;
        }
    }
}