@import './normalize.css';

body {
    font-family: 'Assistant', sans-serif;
    
}
a {
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 300;
}
h1, h2, h3, h4 {
    font-weight: 300;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}