@import './normalize.css';

body {
    font-family: 'Source Sans Pro', sans-serif;

}

a {
    text-decoration: none;
    border: none;
    outline: none;
    font-weight: 300;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
    margin: 0;
}

img {
    width: 100%;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


button {
    border: none;
    background: none;
    cursor: pointer;
}


.overlay:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1000px) {
    .overlay {
        overflow: hidden;
    }
}