.filter {
    position: relative;
    width: 75%;
    min-height: 70vh;
    margin: 0 auto;
    display: grid;
    background-color: rgb(241, 241, 241);
    grid-template-columns: 6fr 1fr;
    grid-template-areas: "sr gl"
        "ml gl";
        grid-template-rows: 80px;
        min-height: 87vh;
}

 .sort {
    grid-area: sr;
    max-height: 45px;
    border-bottom: 1px solid #ddd;
}

 .genres {
    grid-area: gl;
    border-left: 1px solid #ddd;
}

 .movies {
    grid-area: ml;
}


@media (max-width: 768px) {
    .filter {
        grid-template-areas: " gl"
            "sr"
            "ml";
        grid-template-columns: 1fr;
    }
}